[user]
	name = sadigu
	email = menis@intentiq.com
[personal]
	name = menisadi
	email = menisadi@gmail.com
[credential]
	helper = osxkeychain
	useHttpPath = true
[includeIf "gitdir:~/Code/work/**"]
    path = ~/Code/work/.gitconfig	
[includeIf "gitdir:~/Code/personal/**"]
	path = ~/Code/personal/.gitconfig
[includeIf "gitdir:~/Documents/clean-thesis/"]
	path = ~/Documents/clean-thesis/.gitconfig
[includeIf "gitdir:~/.config/nvim/"]
	path = ~/.config/nvim/.gitconfig
[core]
	autocrlf = input
[http]
	sslVersion = tlsv1.2
	sslVerify = true
[alias]
adog = log --all --decorate --oneline --graph
acat = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all


[diff]
	tool = vimdiff
[difftool]
	prompt = false
